<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add New Passenger</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"
    >
</head>
<body>
<div class="container">
    <h1>Flight Reservation System</h1>
    <hr>
    <h2>Add Passenger</h2>
    <form action="#" th:action="@{/savePassenger}" th:object="${passenger}" method="post">
        <input type="text" th:field="*{first_name}" placeholder="First Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{last_name}" placeholder="Last Name" class="form-control mb-4 col-4">

        <input type="text" th:field="*{passport_number}" placeholder="Passport Number" class="form-control mb-4 col-4">

        <input type="text" th:field="*{contact_number}" placeholder="Contact Number" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Save Passenger</button>
    </form>

    <hr>

    <a th:href="@{/}">Back to Home</a>
</div>
</body>
</html>