<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Plane</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous"
    >
</head>
<body>
<div class="container">
    <h1>Flight Reservation System</h1>
    <hr>
    <h2>Update Plane</h2>

    <form action="#" th:action="@{/savePlane}" th:object="${plane}" method="POST">

        <!-- Add hidden form field to handle update -->
        <label>Registration Number: </label><input type="text" th:field="*{registration_number}" class="form-control mb-4 col-4">

        <label>Model Number: </label><input type="text" th:field="*{model_number}" class="form-control mb-4 col-4">

        <label>Passenger Capacity: </label><input type="text" th:field="*{passenger_capacity}" class="form-control mb-4 col-4">

        <label>Flight Number: </label><input type="text" th:field="*{flight_number}" class="form-control mb-4 col-4">

        <button type="submit" class="btn btn-info col-2"> Update Plane</button>
    </form>

    <hr>

    <a th:href="@{/}"> Back to Home</a>
</div>
</body>
</html>